.branddiv1{
    display: flex;
    width:100%;
    height:fit-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}
.branddiv2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    .line{
        margin:0 3px;
        width: 2px;
        height: 20px;
        background-color: #800080;
    }
   h2{
       width: 45%;
   }
   .branddiv3{
    a{
        text-decoration: none;
        
    }
       width: 45%;
       display: flex;
       align-items: center;
       justify-content: flex-end;
   }
   
    
}
.branddiv4{
    display: flex;
   
    width: 90%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    
}
