.partnershippagediv1{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:center;
    
}
.partnershippagediv2{
    display:flex;
    align-items:center;
    justify-content:center;
    width:100%;
    
    
    
    margin:0 auto;
    .partnershippagediv3{
        width:60%;
        height:600px;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(../images/partner.png);
    }
    .partnershippagediv4{
        width:40%;
        background-color:#447185;
        height:600px;
        display:flex;
        align-items:center;
        justify-content:center;
        .partnershippagediv5{
            button{
                color: white;
                background-color:#6D41A1;
                padding:10px 25px;
                border-radius: 5px;           ;
                -webkit-border-radius: 5px           ;
                -moz-border-radius: 5px           ;
                -ms-border-radius: 5px           ;
                -o-border-radius: 5px           ;
                border:1px solid grey;
}
            width:80%;
            display:flex;
            height:80%;
            background-color:white;
            align-items:center;
            justify-content:center;
            border-radius: 10px;
            flex-direction: column;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
            div{
                margin:20px 0;
            }
            p{
                font-size:1.2rem;
                font-weight: bolder;
            }
            input {
                width:250px;
                padding:15px 35px;
                border-radius:5px;
                -webkit-border-radius:5px;
                -moz-border-radius:5px;
                -ms-border-radius:5px;
                -o-border-radius:5px;
                border:1px solid grey;
}
            .partnershippagediv6{
                border:1px solid grey;
                width:250px;
                padding:15px 35px;
                display:flex;
                align-items:center;
                justify-content:center;
                
                select{
                    border:none;
                    background-color:white;
                    &:focus{
                        outline:none;
                    }
                }
                border-radius:5px;            ;
                -webkit-border-radius:5px            ;
                -moz-border-radius:5px            ;
                -ms-border-radius:5px            ;
                -o-border-radius:5px            ;
                
}
            
            
}
    }
}
.partnershippagediv7{
    
    display:flex;
    align-items:flex-start;
    justify-content:center;
    width:90%;
    margin:0 auto;
    flex-wrap: wrap;
    .partnershippagediv8{
        width:400px;
        display:flex;
        align-items:center;
        justify-content:center;
        flex-direction:column;
    }
    
}
.partnershippagediv9{
    width:100%;
    display:flex;
    align-items:center;
    justify-content:center;

    img{
        width:20%;
        
    }
}
.partnershippagediv10{
    width:100%;
    height:50px;
}